body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100vh;
}

.container {
  text-align: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin: 0;
  font-size: 32px;
}

.subtitle {
  color: gray;
  margin-buttom: 30px;
}

.buttons button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background: #2a5298;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:hover {
  background: #1e3c72;
}

.secondary {
  background: #ccc;
  color: black;
}

.secondary:hover {
  background: #999;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 14px;
  min-height: 20px;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e3c72;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background: #2a5298;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background: #16325c;
}

.main {
  flex: 1;
  padding: 30px;
  background: #f4f4f4;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card-box:hover {
  transform: scale(1.03);
}

.home {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page {
  background: #f4f4f4;
}
